# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [20]:
from selenium import webdriver #Permite riar o navegador.
from selenium.webdriver.common.keys import Keys #Permite escrever no navegador.
from selenium.webdriver.common.by import By #Permite selecionar itens no navegador.

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [21]:
# Passo Inicial - Abrir o Navegador.
navegador = webdriver.Chrome()

# 1 - Pegar a cotação do Dolar
# Entrar no google
navegador.get("https://www.google.com/")
# Escrever/Pesquisar - "cotação dolar"
navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação Dolar")
navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#Pegar a cotação do Dolar que está no google
cotacao_dolar = navegador.find_element("xpath",'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_dolar)

# 2 - Pegar a cotação do Euro
#Entrar no google
navegador.get("https://www.google.com/")
# Escrever/Pesquisar - "cotação euro"
navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação Euro")
navegador.find_element("xpath",'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)
#Pegar a cotação do Euro que está no google
cotacao_euro = navegador.find_element("xpath",'//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')
print(cotacao_euro)

# 3 - Pegar a cotação do ouro (https://www.melhorcambio.com/ouro-hoje)
#entrar no site
navegador.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = navegador.find_element("xpath",'//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(',','.')
print(cotacao_ouro)

navegador.quit()

5.308521
5.624112573000001
308.06

- Atualizando os preços e o cálculo do Preço Final

In [22]:
#  importar a base de dados
import pandas as pd
tabela = pd.read_excel("Produtos.xlsx")
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [28]:
# Atualizar os dados da coluna Cotação. / Converter dados de str para float

# Dolar
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)

# Euro
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)

# Ouro
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)


#Atualizar a coluna de preço de compra (Preço de compra = Preço original * Cotação)
tabela["Preço de Compra"] = tabela["Preço Original"] * tabela["Cotação"]

#Atualizar a coluna de preço de venda (Preço de venda = preço de compra * margem)
tabela["Preço de Venda"] = tabela["Preço de Compra"] * tabela["Margem"]

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5.308521,5308.467915,1.40,7431.855081
1,Carro Renault,4500.00,Euro,5.624113,25308.506579,2.00,50617.013157
2,Notebook Dell,899.99,Dólar,5.308521,4777.615815,1.70,8121.946885
3,IPhone,799.00,Dólar,5.308521,4241.508279,1.70,7210.564074
4,Carro Fiat,3000.00,Euro,5.624113,16872.337719,1.90,32057.441666
5,Celular Xiaomi,480.48,Dólar,5.308521,2550.638170,2.00,5101.276340
6,Joia 20g,20.00,Ouro,308.060000,6161.200000,1.15,7085.380000

### Agora vamos exportar a nova base de preços atualizada

In [33]:
tabela.to_excel("Produtos - Novo.xlsx", index=False)

import pyautogui
pyautogui.alert("Fim da automação, Base de Dados atualizada com sucesso.")